@page
@model LES_passagens_areas.Pages.bilhetesModel
@{
//Layout = null;
}

@if (!string.IsNullOrEmpty(Model.message))
{
    <p id="dii" style="display:none; visibility:hidden;">@Html.Raw(Model.message)</p>
    <script>alert(document.getElementById("dii").innerHTML);</script>
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/js/jquery.mask.min.js"></script>
<h2>Bilhetes</h2>

@{
    if (Model.partida == null)
    {
        Model.partida = "0";
        Model.chegada = "0";
    }
    if (Model.aviao == null || Model.classe == null)
    {
        Model.classe = new SelectList(Model.GetRoles(), "Value", "Text");
        Model.aviao = new SelectList(Model.GetRoles1(), "Value", "Text");
    }
}
<form method="POST">
    <input id="par" type="hidden" value="@{ WriteLiteral(Model.partida.ToString()); }" /><input id="che" type="hidden" value="@{ WriteLiteral(Model.chegada.ToString()); }" />
    ID: @Html.TextBox("id", (Model.id), new { @readonly = "readonly" })<br />
    nome: @Html.TextBox("nome", (Model.name))<br />
    RG: @Html.TextBox("RG", (Model.dat_partida))<br />
    CPF: @Html.TextBox("CPF", (Model.dat_chegada))<br />
    EMAIL: @Html.TextBox("email", (Model.hor_partida))<br />
    Passaporte: @Html.TextBox("Passaporte", (Model.hor_chegada))<br />
    sexo: <select id="sexo" name="sexo">
        <option value="true">Masculino</option>
        <option value="false">Feminino</option>
    </select> <br />
    <button type="submit" class="btn btn-success" asp-route-data="foo" asp-page-handler="Way2">Adicionar</button>
    <button type="submit" class="btn btn-light" asp-route-data="foo" asp-page-handler="Way4">cancelar</button>
</form>
<br />
<br />
<table id="tb_view">
    <thead><tr><th></th><th>id</th><th>nome</th><th>RG</th><th>CPF</th><th>email</th><th>passaporte</th><th>sexo</th></tr></thead>
    <tbody>
        @{ int i = 0; }
        @foreach (Dominio.Bilhete objUser in Model.GetRoles3())
        {
        <tr>
            <td>
                <!--  <a class="btn btn-primary" href='bilhetes?code=@i'>editar</a>-->
                <a class="btn btn-danger" href='bilhetes?del=@i'>apagar</a>
            </td>
            <td>@objUser.ID.ToString()</td>
            <td>@objUser.Nome.ToString()</td>
            <td>@objUser.RG.ToString()</td>
            <td>@objUser.cpf</td>
            <td>@objUser.Email</td>
            <td>@objUser.passaporte</td>
            @if (objUser.Sexo == true)
            {
                <td>Masculino</td>
            }
            else
            {
                <td>Feminino</td>
            }

           @{i++;
           }
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tb_view').DataTable();
        $('#dt_partida').mask('00/00/0000');
        $('#hr_partida').mask('00:00');
        $('#dt_destino').mask('00/00/0000');
        if ($("#destino").val()!=0) {
            $("#destino").prop('selectedIndex', $("#che").val() - 1);
            $("#partida").prop('selectedIndex', $("#par").val() - 1);

        }


    });
</script>
<div id="table">
</div>