@page
@model LES_passagens_areas.Pages.cartModel
@{
    ViewData["Title"] = "carrinho";
    //Layout = null;
}
<h2>carrinho</h2>
<table id="tb_view">
    <thead><tr><tr><th>Código</th><th>Nome</th><th>preço unitario</th><th>qtd</th><th>preço</th><th>comfimar bilhetes</th></tr></thead>
    <tbody>
        @foreach (Dominio.Viagem objUser in Model.ven.Viagems)
        {
            <tr>
                <td>@objUser.ID</td>
                <td>@objUser.Voo.LO_partida.Nome <b>to</b> @objUser.Voo.LO_chegada.Nome</td>
                <td>@objUser.Valor_Unidade</td>
                <td><a href='cart?code=@objUser.Voo.ID'>-</a>@objUser.qtd<a href='cart?cod=@objUser.Voo.ID'>+</a></td>
                <td>@objUser.Valor</td>
                <td><a href='bilhetes?cod=@objUser.Voo.ID'>comfirmar bilhetes</a></td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/lib/datatables.min.css">
<script type="text/javascript" src="~/lib/datatables.min.js"></script><!---->
<script src="~/js/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tb_view').DataTable({ searching: false, paging: false, info: false, ordering: false });


    });
</script>
