@page
@model LES_passagens_areas.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<form method="post">
    <table>
        <tr>
            <td colspan="4">
                <h1><b>Register</b></h1>
            </td>
        </tr>
        <tr>
            <td><b>codigo:</b> @Html.TextBox("id", (Model.id), new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td><b>nome:</b> @Html.TextBox("nome", (Model.nome)) </td>
        </tr>
        <tr>
            <td><b>senha:</b> @Html.Password("password", (Model.password)) </td>
            <td><b>Confirmar senha:</b>@Html.Password("com_password", (Model.com_password))  <asp:Button ID="mudar" Text="mudar_senha" runat="server" OnClick="mudar_Click"></asp:Button></td>
        </tr>
        <tr>
            <td><b>sexo:</b><select id="sexo" name="sexo"><option value="true">Masculino</option><option value="false">feminino</option></select></td>
        </tr>
        <tr>
            <td><b>cpf:</b>@Html.TextBox("cpf", (Model.cpf))</td>
        </tr>
        <tr>
            <td><b>rg:</b>@Html.TextBox("rg", (Model.rg))</td>
            <td><b>data de nascimento:</b>@Html.TextBox("dt_nas", (Model.dt_nas)) </td>
            <td><b>email:</b>@Html.TextBox("email", (Model.email), new { type = "email", placeholder = "example@mail.com.br" }) </td>
        </tr>
        <tr>
            <td><b>cep:</b> @Html.TextBox("cep", (Model.cep)) </td>
        </tr>
        <tr>
            <td><b>rua:</b> @Html.TextBox("rua", (Model.rua))</td>
            <td><b>Numero:</b> @Html.TextBox("numero", (Model.numero))</td>
        </tr>
        <tr>
            <td><b>bairro:</b> @Html.TextBox("bairro", (Model.bairro)) </td>
            <td><b>complemento:</b> @Html.TextBox("complemento", (Model.complemento)) </td>
            <td><b>Tipo de endereço:</b><asp:DropDownList ID="DropDownList_tipo_end" runat="server" DataTextField="tipo" DataValueField="id"></asp:DropDownList> </td>
        <tr>
            <td><b>cidade:</b>  @Html.TextBox("cidade", (Model.cidade)) </td>
            <td><b>UF:</b> <select id="uf" name="uf"><option>SE</option><option>PA</option><option>MG</option><option>RR</option><option>DF</option><option>MS</option><option>MT</option><option>PR</option><option>SC</option><option>CE</option><option>GO</option><option>PB</option><option>AP</option><option>AL</option><option>AM</option><option>RN</option><option>TO</option><option>RS</option><option>RO</option><option>PE</option><option>AC</option><option>RJ</option><option>BA</option><option>MA</option><option>SP</option><option>PI</option><option>ES</option></select> </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><b>nome do titular</b>@Html.TextBox("nome_card", (Model.nome)) </td>
            <td><b>numero cartão</b> @Html.TextBox("num_card", (Model.nome)) </td>
        </tr>
        <tr>
            <td><b>validade</b> @Html.TextBox("validade", (Model.nome)) </td>
            <td><b>ccv</b> @Html.TextBox("ccv", (Model.nome))  <asp:CheckBox ID="CHK_preferencial" runat="server" /> </td>
        </tr>
        <tr>
            <td> <button id="add_card" type="submit" class="btn btn-success" asp-route-data="foo" asp-page-handler="Way5">Adicionar Cartão</button> </td>
        </tr>
    </table>
    <table id="tb_vieww">
        <thead>
            <tr><th></th><th>id ou indice caso não cadastrado</th><th>nome</th><th>numero</th><th>validade</th><th>ccv</th></tr>
        </thead>
        <tbody>
            @foreach (Dominio.Cartao_Credito objUser in Model.GetRoles3())
            {
                <tr>
                    <td>
                        <a class="btn btn-danger" href='Register?dele=@objUser.ID.ToString()'>apagar</a>
                    </td>
                    <td>@objUser.ID.ToString()</td>
                    <td>@objUser.Nome_Titular </td>
                    <td>@objUser.Numero </td>
                    <td>@objUser.Validade </td>
                    <td>@objUser.CCV </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/datatables.min.css">
    <script type="text/javascript" src="~/lib/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tb_vieww').DataTable({ searching: false, paging: false, info: false, ordering: false });
        });
    </script>
    <br />
    <br />
    @if (!string.IsNullOrEmpty(Model.message) && Model.message!= "sucesso!\n")
    {
        <p id="dii" style="display:none; visibility:hidden;">@Html.Raw(Model.message)</p>
        <script>alert(document.getElementById("dii").innerHTML);</script>
    }
    <div>
        <button id="register" type="submit" class="btn btn-success" asp-route-data="foo" asp-page-handler="Way2">Registrar</button>
    </div>
</form>
