@page
@model LES_passagens_areas.Pages.sumarioModel
@{
    ViewData["Title"] = "sumario";
}

<h2>sumario</h2>
<h3>digite o codigo do voo e tecle enter</h3>
<!--aeroporto: --><select id="aeroporto" name="aeroporto" onchange="" style="visibility:hidden"></select>
    voo:       <input id="queen" onchange="go()" />
<br />
<br />
<TABLE class='display' onload="bora()" id='tb_view'>
    <THEAD>
        <tr><th>nome</th><th>aeroporto</th><th>qtd passaram </th><th>qtd fazendo</th><th>qtd não passaram</th></tr>
    </THEAD>
    <TBODY>
        @foreach (Dominio.Sumario objUser in Model.lt)
        {
            <tr>
                <td>@objUser.Dep.Nome</td>
                @if (@objUser.IsDesembarque)
                {
                    <td>chegada</td>
                }
                else
                {
                    <td>partida</td>
                }

                <td>@objUser.Qtd_passaram</td>
                @if (string.IsNullOrEmpty(Model.codd))
                {
                    <td><input type="button" value="@objUser.Qtd" onclick="window.location.href='./status?dep=@objUser.Dep.ID';" /> </td>
                }
                else
                {
                    <td><input type="button" value="@objUser.Qtd" onclick="window.location.href='./status?dep=@objUser.Dep.ID&voo=@Model.codd';" /> </td>
                }
                <td>@objUser.Qtd_nao_passaram</td>
            </tr>
        }
</TABLE>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/lib/datatables.min.css">
<script type="text/javascript" src="~/lib/datatables.min.js"></script>
<script>
    $('#tb_view').DataTable({ searching: false, paging: false, info: false, ordering: false });
    $("#aeroporto").append(new Option('todos', '0'));
    function go() {
        var e = document.getElementById("queen").value;
        //alert(strUser);
        window.location = "./sumario?cod=" + e;
    }
    var lat = 0.5;
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        }
    }
    function showPosition(position) {
        var latlon = position.coords.latitude + "," + position.coords.longitude;
        lat = position.coords.latitude;
    }
    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
    getLocation();
    var url = new URL(window.location.href);
    var c = url.searchParams.get("cod");
    $.ajax({
        type: "GET",
        url: '/api/devil/aeroporto?cod=0',
        timeout: 30000,
        contentType: "application/json; charset=utf-8",
        cache: false,
        success: function (devil) {
            var ii = 0;
            $.each(JSON.parse(devil), function (i, cliente) {

                $("#aeroporto").append(new Option(cliente.Nome, cliente.ID.toString()));
                var o = 10;
                var a = (Math.round(lat * o) / o);
                var b = (Math.round(cliente.lat * o) / o);
                if (a == b) {
                    if (c == null) {
                        $("#aeroporto").prop('selectedIndex', ii);
                        korn = ii;
                        go();
                    }

                }
                ii++;
            });
            $("#aeroporto > option").each(function () {
                if (c == this.value)
                    $("#aeroporto").prop('selectedIndex', this.index);
                //alert(this.text + ' ' + this.index + ' ' + this.value);

            });
        }
    });
</script>
